body {
	background: green;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #0f4363);
  background-image: -moz-linear-gradient(top, #3498db, #0f4363);
  background-image: -ms-linear-gradient(top, #3498db, #0f4363);
  background-image: -o-linear-gradient(top, #3498db, #0f4363);
  background-image: linear-gradient(to bottom, #3498db, #0f4363);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #8f178f;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #bad1e0);
  background-image: -moz-linear-gradient(top, #3cb0fd, #bad1e0);
  background-image: -ms-linear-gradient(top, #3cb0fd, #bad1e0);
  background-image: -o-linear-gradient(top, #3cb0fd, #bad1e0);
  background-image: linear-gradient(to bottom, #3cb0fd, #bad1e0);
  text-decoration: none;
}

.planetBox {
	border: 2px solid black;
	display: inline-block;
	margin: 20px;
	width: 300px;
	height: 300px;
}

.planetName {
	color: white;
	text-align: center;
	font-size: 40px;
	font-weight: 800;
	position: absolute;
	margin-top: 128px;
	width: inherit;
}